<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <script src="https://kit.fontawesome.com/e49e8890e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/settings.css">
    <script src="/js/jquery.js"></script>
</head>
<body>

    <div class="topbar"><img src="/imgs/logo.png" alt=""></div>
    <form method="POST" action="/ip">
        <input type="text" name="ip" id="ip" placeholder="IP of LG Master"><br>
        <input type="submit" value="Apply">
    </form>

    <div class="bottomBar">
        <div class="nav">
            <a href="/">
                <i class="fas fa-cogs selected"></i>
            </a>
            <a href="/navigate" id="nav">
                <i class="fas fa-compass"></i>
            </a>
        </div>
    </div>

    <script src="/js/settings.js"></script>
</body>
</html>